fieldset{
     width: 500px;
}

 h1:nth-child(1), input[type="text"]{
     display: inline-block;
}

 h1:nth-child(2), input[type="password"]{
     display: inline-block;
}

 input[type="text"]{
     position: relative;
     left:90px;
     height: 40px;
}

input[type="password"]{
     position: relative;
     left:40px;
     height: 40px;
}
 