table {
	margin: 0 auto;
	border: 1px solid black;
	border-collapse: collapse;
}
td {
	font-size: 2.5em;
	text-align: center;
	font-weight: 700;
	border: 1px solid black;
	height: 50px;
	width: 50px;
}
button {
	margin: 0 47%;
}