.div1 {background-color: green;}
div a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 5px;
    display:inline-block;
}
ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background: grey;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 50px;
  display: none;
}
ul li ul li { 
  background: grey; 
  display: block; 
}
.link3:hover {background: white; color:white;
}
.div2 {
	position: absolute;
	top: 15%;
}
p {
	width: 95%;
    border: 2px solid red;
    background: #ffe6f2;
    padding: 6px;
}
span {
	background: white;
	border: 1px solid black;
}
label {
	cursor: pointer;
}
.tab {
	position: absolute;
  	top: 50%;
}
.tab>div{
  visibility:hidden;
}

#newspaper {
    column-gap: 10px;
    column-rule: 2px solid blue;
}
input[value="1"]:checked ~ div[id="newspaper"] {
	   column-count: 1;
    visibility:visible;
}

input[value="2"]:checked ~ div[id="newspaper"] {
	visibility: visible;
  column-count: 2;
}
 input[value="3"]:checked ~ div[id="newspaper"] {
	visibility: visible;
  column-count: 3;
}
input[value="4"]:checked ~ div[id="newspaper"] {
  visibility: visible;
  column-count: 4;
}
input[value="5"]:checked ~ div[id="newspaper"] {
  visibility: visible;
  column-count: 5;
}
