body {
	margin: 0px;
	padding: 0px;
}

.header {
	height: 100px; /*use padding insted of height*/
	background-color: #24292e;
}

.d-flex {
	display: flex;
}

.content-center {
	justify-content: center;
}

.align-items {
	align-items: center;
}

.list-style-none {
	list-style: none;
}

.margin-auto {
	margin: auto;
}

.margin-left16 {
	margin-left: 16px;
}

.margin-left-16 {
	margin-left: -25px;
}

.font-14 {
	font-size: 18px;
	color: white;
}

.max-width {
	max-width: 960px;
}

.d-none {
	display: none;
}

.flex-grow1 {
	flex-grow: 1;
}

.flex-grow8 {
	flex-grow: 8;
}
/* the same BEGIN*/
.image-href {
	width: 35px;
	height: 35px;
}

.image-href img {
	width: 35px;
	height: 35px;
}
/*END*/
.header-menu {
	max-width: 900px;
	margin-left: 25px;
}
/*please update */
.ma-lr {
	margin-left: auto;
	margin-right: auto;
}

li a {
	display: block;
}

.search {
	width: 200px;
	height: 50px;
}

.search-input {
	height: 30px;
}

.inp-width {
	width: 280px;
}

.b-rad {
	border-radius: 5px;
}

/*please update */
.ma-tb {
	margin-bottom: auto;
	margin-top: auto;
}

.d-block {
	display: block;
}

.t-dec {
	text-decoration: none;
}

.t-b {
	font-weight: bold
}

.d-inline-bl {
	display: inline-block;
}

.list-style-type {
	list-style-type: none;
}

.float-l {
	float: left;
}

.m-w-500 {
	max-width: 500px;
}

.pad-top-100 {
	padding-top: 100px;
}

.m-w-300 {
	max-width: 300px;
}

.bg-image {
	background-image: url("https://cdn-images-1.medium.com/max/1200/1*wzEf4qVNT7mUeMIeQWTJbg.jpeg");
}

h1 {
	font-size: 60px;
	color: white;
}

.lead-mktg {
    font-size: 22px;
    font-weight: normal;
	font-family: Helvetica Neue;
	color: lightgrey;
}

.col-white {
	color: white;
}

.bg-col-white {
	background-color: white;
}
/*please remove important */
.mt-0 {
    margin-top: 0 !important;
}

.form-group {
    margin: 15px 0;
}

p {
	font-family: Helvetica Neue;
	font-size: 12px;
}

.btn-large-mktg {
    padding: 20px 32px;
    font-size: 16px;
}

.btn-primary-mktg {
    background-color: #2ebc4f;
}

/*please remove important */
.f4 {
    font-size: 16px !important;
}

.justify {
	text-align: justify;
}

.padding {
	padding: 30px;
}
