#card {
	position: absolute;
	top: 200px;
	right: 40px;
	z-index: 2;
}

#player {
	position: absolute;
	top: 350px;
	left: 50%;
}

#comp {
	position: absolute;
	top: 50px;
	left: 50%;
	height: 150px;
}

#trump {
	position: absolute;
	z-index: 1;
	top: 200px;
	right: 90px;
}
#cardc1 {
	position: absolute;
	left: 5px;
	top: 0px;
	z-index: 98;
}