<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <div class="container">
    <h1><%= title %></h1>
    <ol>
        <li><a href="http://localhost:3000/allusers">Get all users</a></li>
        <li><a href="http://localhost:3000/allusers/1">Get user by: example - Id1</a></li>
        <li><a href="http://localhost:3000/specid/1/surname">Get specific user details </a></li>
           <li>Update N2 user Params in</li>
            <ul>
               <li><blockquote>http://localhost:3000/updateUser/2/changeParams</blockquote></li>
           </ul>
            <li>Update N2 user Params in</li>
              <ul>
                  <li><blockquote>http://localhost:3000/allusers/4</blockquote></li>
              </ul>
               
           
    </ol>
    </div>
  </body>
</html>
