table {
    margin:  auto;
}
td {
    width: 70px;
    height: 70px;
    font-size: 3em;
    text-align: center;
    font-weight: 800;
    border: 1px solid ;
}
td:hover{
    cursor: pointer;
}
button{
    margin-left: 45%;
    height: 40px;
    width: 10%;
    font-weight: 700;
    font-size: 1.5em
}
var data = {};
Object.prototype.displayInfo = function(){
    console.log(1)
}
data.displayInfo();

var data = {};
data.displayInfo = {};
data.displayInfo.foo = "bar";


let thing;
function data(){
    thing = "foo";
}
data();
thing;




for(var i=0; i < 5; i++){
    console.log(i);
}



function addIfEven(num){
    if(num % 2 ==
       = 0){
        return num + 5;
    }
    return num;
}
