@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{
    font-family: "Open Sans";
    list-style:none;
    margin: 0;
    padding: 0;
    font-size: 1em;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
header{
    color: #999b9e;
    background-color: #24292e;
}
a{
    text-decoration: none;
}
.col{
    padding: 1% 0;
}
header a{
    font-size: 1.15em;
    color: #FFF;
}
header ul{
    width: 88%;
    display: inline-flex;
}
header li{
    margin-left: 5%;
}
.logo{
    text-align: center;
    display: inline-block;
    width: 5%;
}

header nav{
    display: inline-block;
    width: 50%;
}
.search{
    display: inline-block;
    width: 44%;
    text-align: right;
}
header input{
    background: url(https://assets-cdn.github.com/images/search-shortcut-hint.svg) no-repeat right;
    border-radius: 2%;
    padding: 2% 0 2% 10%;
    border-style:none;
    background-color: #404448;
    width: 50%;
}
header input:focus{
    background: #FFF;
}
header a:hover{
    color: #919191;
}
/*section*/
.built{
    display: inline-block;
    width:55%;
}
.user{
    padding: 5% 0;
    width: 44%;
    display: inline-block;
}
section {
	background: url(https://assets-cdn.github.com/images/modules/site/heroes/simple-codelines.svg) #2b3137;
	background-color: rgba(36,41,46,0.95);
	background-repeat: no-repeat;
	background-size: cover;
}
.built h1{
	font-size: 4.5em;
	color: #fff;
}
.built p {
	color: #adafb2;
	font-size: 1.5em;
}
.built a {
	color: #fff;
	border-bottom: 1px solid #adafb2;
}
.built a:hover {
	color: #fff;
	border-bottom: 1px solid #fff;
}
form {
    width: 90%;
	background-color: #fff;
	border-radius: 2%;
}
form p {
	color: #3e4042;

}

form a{
    color: #0d33dd;

}
form a:hover {
    color : blue;
    border-bottom: 1px solid #0d33dd;
}

section a{
    font-size: 1em;
}

form input {
    width: 80%;
    background-color: #FFF;
	border-style: none;
	border: 1px solid #d1d5da;
	border-radius: 4px;
    padding: 3% 0 3% 3% ;
    margin-left: 8%;
	font-size: 1em;
}
form input[type=submit] {
    width: 83%;
    padding: 6% 0;
	border-style: none;
	background-color: #2ebc4f;
	border-radius: 4px;
	color: #fff;
	font-size: 1em;
	cursor: pointer;
}
form input[type=submit]:hover{
	background-color: #0ba816;
}
label p {
    font-size: 1.1em ;
    padding: 6% 0 2% 8%;
}

.form_p1{
    padding: 2% 0 3% 8%;
    padding-left: 8%; 
    font-size: 0.84em;
}

.form_p2{
    padding: 2% 8% 6% 8%;
    font-size: 0.84em;
    text-align: center;
}
/*footer*/
footer{
    background: url(../img/7911.png);
}
.footer{
    background-color: #FFF;
    text-align: center;
}
footer h1 {
    font-size: 2.5em;
}
footer p {
	padding: 3% 0;
	color: #8d9093;
	font-family: "Open Sans";
}
footer button {
	border-style: none;
	background-color: #1277eb;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
    padding: 2% 4%;
}
footer button:hover{
	background-color: #0d33dd;
}
footer a:hover {
	color: blue;
	border-bottom: 1px solid
	text-decoration: none;
}