@media screen and (max-width: 1000px) and (min-width: 0px) {
	 .search,header nav {
		display: none;
	}
	.container{
    	width: 100%;
    	
	}
}

@media screen and (max-width: 768px) and (min-width: 0px) {
	.user {
		display: block;
   		margin: 0 auto;
	}
	.built {
		display: block;
    	text-align: center;
   		margin: 0 auto;
	}
}
@media screen and (max-width: 680px) and (min-width: 0px) {
	.built h1 {
		font-size: 3.7em;
	}
}
@media screen and (max-width: 543px) and (min-width: 0px) {
	
	.user label, .user p {
		display: none;
	}
	form {
		background-color: rgba(36,41,46,0);
	}
	.built h1 {
		font-size: 3.2em;
	}
}
@media screen and (max-width: 480px) and (min-width: 0px) {


	.built h1 {
		font-size: 2.5em;
	}
	.built p {
    font-size: 1.3em;
	}
    form input[type=submit] {
		font-size: 0.8em;
    }


}



