table
{
    border-collapse:collapse;
}
td
{
    width:200px;
    height:200px;
    border-style: solid;
    text-align: center;
    font-size:80px;
    cursor:pointer;
}

.endgame
{
    display: none;
    width:200px;
    top:120px;
    background-color: rgba(208,133,63,0.8);
    position:absolute;
    left:50%;
    margin-left:-100px;
    padding-top:50px;
    padding-bottom: 50px;
    text-align:center;
    border-radius:5px;
    color:white;
    font-size:2em;
}
button
{
    width:200px;
    height:100px;
    background-color: green;
    color:white;
    font-size: 20px;
    cursor: pointer;
}