td{
	width: 60px;
	height: 60px;
	border: 0.5px solid black;
	font-size: 30px;
	text-align: center;
	
}
h1 {
	color: #BB5454;
	
}
table{
	float: center;

}

tr {
	width: 20px;
	height: 20px;
}

.grey {
background-color: grey;	
}

.lightBlue {
background-color: lightblue;
color: lightblue;	
}

 .circleWhite {
      width: 35px;
      height: 35px;
      border-radius: 25px;
      background: white; 
    }


.circleBlack{
      width: 35px;
      height: 35px;
      border-radius: 25px;
      background: #F56E6E; 
    }
.circleWhiteTama{
      width: 35px;
      height: 35px;
      border-radius: 25px;
      background: white;
      border-style: solid;
 	  border-color: #711B1B;
    }

  .circleBlackTama {
  	width: 35px;
      height: 35px;
      border-radius: 25px;
      background:  #F56E6E;
      border-style: solid;
 	  border-color: #803939; 
  }
  