body {
  padding: 50px;

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.container{
	display: flex;
	justify-content: center;
	flex-flow: column;
	align-items: center;
	font-size: 16px;
}

a {
  color: #00B7FF;
}
