td{
	width: 70px;
	height: 70px;
	border: 1px solid black;
	background-color: ghostwhite;
	color: black;
	cursor: pointer;
	text-align: center;
	font-size: 60px;
}
button{
	padding: 10px;
	border: 1px solid black;
	background-color: green;
	color: white;
	font-size: 15px;
	margin-top: 15px; 
}

