                            /*fonts*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
                            /*fonts*/

body {
	margin: 0;
	padding: 0;
    font-size: 1em;
}
button{
    cursor: pointer;
}
a:hover{
    text-decoration: none;
}
.row{
    margin: 0;
}
/*header*/
header {
	background-color: #f7f7f8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
header .row{
    padding: 3% 0;
}
header a{
	text-decoration: none;
	color: #000;
	font-family: 'Lato', sans-serif;
}
header a:hover {
    color:#706B73;
}
nav {
	display: flex;
}
header ul{
    display: inline-flex;
}
header li{
    margin-right:20% ;
    list-style: none;
}
nav div {
    cursor: pointer;
}
nav span {
	height: 4px;
    width: 30px;
    background: #706b73;
    display: block;
    margin-bottom: 4px;
    border-radius: 2px;
}
header h6 {
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
h6 span {
	font-family: 'Lato', sans-serif;
	font-weight: 700;

}
.help {
	text-align: right;
}
.help a{
    margin-right: 5%;
}
/*section1*/
section:nth-of-type(1) {
    background: url(../img/banner_background.jpg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.main {
	text-align: center;
}
.main h1{
    margin-top: 12%;
	font-size: 3.875em;
	color: #26272d;
	font-family: 'Varela Round', sans-serif;
}
.main p {
    width: 78%;
    margin: 0 auto;
    margin-top: 2%;
    font-size: 1.25em;
    color: #8c8f94; 
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.main button {
    margin: 5% 0;
    width: 25%;
    padding: 1% 1%;
	border-style: none;
	background-color: transparent;
	border: 1px solid #dadcde;
	border-radius: 30px;
    font-size: 0.9em;
}
.main button img {
    margin-right: 5%;
}
/*section2*/
.Lock_Clock{
	margin: 15% 0;
}
.Lock_Clock h4{
	font-size: 1.525em;
	margin: 2% 0;
}
.Lock_Clock p {
	font-size: 1.125em;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #8c8f94;
}
/*section3*/
.your_day{
	margin-top: 15%;
}

.your_day h2 {
	font-size: 2.625em;
	font-family: 'Varela Round', sans-serif;
}
.your_day p {
	color: #8c8f94;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
.your_day p:nth-of-type(1){
	margin: 5% 0;
}
.your_day button {
	margin: 10% 0;
	padding: 2% 8%;
}
.your_day button:nth-of-type(1) {
	border-style: none;
	background-color: #267df4;
	border-radius: 18px;
	font-family: 'Lato', sans-serif;
	color: #fff;

}
.your_day button:nth-of-type(2){
	border-style: none;
	border-radius: 18px;
	background-color: transparent;
	border: 1px solid #dadcde;
}

/*section4*/
section:nth-of-type(4){
    margin: 10% 0;
}
.partners h2{
    font-family: 'Varela Round', sans-serif; 
    font-size:2.625; 
}
.partners p{
    color: #8c8f94;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
.partners h6{
    margin-top: 10%;
    font-size: 0.75em;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.partners img{
    margin-right: 2%;
    margin-top: 2%;
}
/*section5*/
section:nth-of-type(5) hr {
	width: 5%;
    height: 2px;
    margin: 5% auto;
    background-color: #267df4;
}
.text-center p {
	font-size: 0.75em;
    letter-spacing: 0.1em;
    font-weight: 700;
    text-transform: uppercase;
    color: #8c8f94;
}
.img {
    width: 100%; 
	margin-top: 2%;
}
.img img{
    width: 17%;
    margin: 0 1%;
}
.s4{
	 box-shadow: 20px 20px 20px 20px #e6e6e9;
	 border-radius: 5px;
}
/*section6*/
section:nth-of-type(5) ,section:nth-of-type(6){
    background-color: #f4f4f4;
}
.get {
	text-align: center;
	margin-top: 10%;
}
.get p {
	color: #a9aab1;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
.get h2 {
	font-family: 'Varela Round', sans-serif;
	font-size: 2.625em;
}
.group{
    margin: 5% 0;
    border-radius: 25px;
	border: 1px solid #cbcbce;
    padding: 6% 0;
}
.group input{
    position: absolute;
    top: 51%;
    left: 0;
    border-radius: 25px;
    background-color: #f4f4f4;
	width: 60%;
	padding: 2% 0 2% 0;
    border-style: none;
}
.get a {
    position:absolute;
    right: 3%;
    top: 49%;
    font-size: 0.9em;
    text-decoration: none;
	color: #fff;
    border: 1px solid #6fc754;
    padding: 3%;
    border-radius: 25px;
    background-color: #6fc754;
}
.get input[type=image]{
    border-radius: 20px;
}
.get span{
    font-size: 0.8em;
}

/*section7*/
section:nth-of-type(7){
    padding: 20% 0;
    background-color: #f4f4f4;
}
.plan h2{
    font-family: 'Varela Round', sans-serif;
    font-size: 2.625em;
    
}
.plan p:nth-of-type(1){
    margin-top: 12%;
    font-size: 0.75em;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.plan div{
    border: 1px solid #d5d6d7;
    border-radius: 24px;
    width: 45%;
}
.plan button{
    font-family: 'Lato', sans-serif;
    padding: 2% 5%;
    border-style: none;
    border-radius: 23px;
}
.plan button:nth-of-type(1){
    background-color: #FFF;
    box-shadow: 0 20px 20px 0 #e6e6e9;
}
.plan button:nth-of-type(2){
    background-color: transparent;
}
.plan button:nth-of-type(2):focus{
    background-color: #FFF;
    box-shadow: 0 20px 20px 0 #e6e6e9;
}
.plan p:nth-of-type(2){
    margin-top: 12%;
    font-size: 1.25em;
}
.plan p{
    color: #8c8f94;
    font-family: 'Lato', sans-serif;
}
.plan p:nth-of-type(3){
    margin-top: 8%;
    font-size: 0.875em;
}
.plan a{
    color: #267df4;
    border-bottom: 1px solid ;
}
.starter_pro{
    text-align: center;
}
.starter_pro h3{
    font-family: 'Lato', sans-serif;
    padding: 10% 0;
    font-weight: 300;
    font-size: 2em;
}

.starter_pro div{
    border: 1px solid #d4d4d5;
    border-radius: 12px;
    width: 20%;
    margin: 0 auto;
}
.starter_pro h5{
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    width: 80%;
    margin: 10% auto;
    line-height: 28px;
    color: #adafb2;
}
.starter_pro p{
    margin-top:4%;
    font-family: 'Lato', sans-serif;
}
.starter_pro span{
    font-weight: 900;
    color: #6fc754;
}
.starter_pro button{
    margin: 15% 0;
    border-style: none;
    padding: 3% 20%;
    border-radius: 20px;
}
.box1 button{
    background-color: #267df4;
    color: #FFF;
}
.box2 button{
    background-color: transparent;
    color: #267df4;
    border: 1px solid #267df4;
}
.box1{
    background-color: #FFF;
    box-shadow: 0 20px 20px 10px #e6e6e9; 
}
.box2{
    background-color: #eaeaec;
}
/*section8*/
.a{
    width: 60%;
    margin: 10% auto;
}
.input{
    width: 100%;
}
input{
    margin-left: 10%;
    border-radius: 65px;
}
#demo2 , #demo3 {
    display: none;
} 
.input input{
    width: 20%;
}
.slide{
    font-family: 'Lato', sans-serif; 
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.slide h1{
    font-size: 2em;
    font-weight: 300;
}
.slide p:nth-of-type(1){
    margin-top: 10%;
    font-size: 1.25em;
    line-height: 28px;
    color: #8c8f94;
}
.slide p:nth-of-type(2){
    font-size: 0.75em;
    font-weight: 700;
    margin-top: 10%
}
.anim-left{
    position:relative;
    animation:animleft 1.4s
}
@keyframes animleft{
        from{left:-150px;opacity:0}
         to{left:0;opacity:1}
}
/*section9*/
section:nth-of-type(9) input{
    background-color: #FFF;
}
.get1 .group input{
    top: 53%;
    left: 0;
}
.get1 a {
    right: 3%;
    top: 51%;
}
/*secton10*/
section:nth-of-type(10) .row{
    margin-top: 15%;
} 
.new ul {
	display: flex;
	padding-top: 4%;
}
.new li{
    margin-right: 10%;
}
section:nth-of-type(10) li {
	list-style: none;
	
}
.new h2 {
	text-transform: uppercase;
	color: #35363c;
	font-family: 'Varela Round', sans-serif;
	font-size: 1.7em;
}
.new span {
	font-weight: 700;
}
.new p {
	color: #8c8f94;
	font-family: 'Lato', sans-serif;
	font-size: 1.1em;
}
.ul a{
    color: #8c8f94;
}
.ul a:hover{
    color: #26272d;
}
.ul span {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: #26272d;
}

.ul li {
	padding-top: 20%;
	color: #93969a;
}
/*footer*/
footer{
    margin-top: 12%;
}
footer p{
    color: #8c8f94;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
}
footer a{
    color: #3b55e6;
    border-bottom: 1px solid;
}
footer span{
    font-family: 'Lato', sans-serif;
    font-size: 0.5621em;
    font-weight: 700;
}
/*animation*/
.w3-animate-left{
    position:relative;
    animation:animateleft 1.4s
    }
@keyframes animateleft{
    from{
        left:-300px;
        opacity:0
    }
    to{left:0;opacity:1}
}
.w3-animate-bottom{
    position:relative;
    animation:animatebottom 1.4s
}
@keyframes animatebottom{
    from{
        bottom:-300px;
        opacity:0
    }
    to{
        bottom:0;
        opacity:1
    }
}
.w3-animate-right{
    position:relative;
    animation:animateright 1.4s
}
@keyframes animateright{
    from{
        right:-300px;
        opacity:0
    }
    to{
        right:0;
        opacity:1
    }
}