@media screen and (max-width: 1199px){
    .group input{
        top: 57%;
        left: 0;
    }
    .get a {
        right: 3%;
        top: 56%;
    }
    .get1 .group input{
        top: 61%;
        left: 0;
    }
    .get1 a {
        right: 3%;
        top: 59%;
    }
}
@media screen and (max-width: 1200px) and (min-width: 767px){
    .plan div{
        width: 80%;
    } 
}
@media screen and (max-width: 991px){
    header ul, .help{
        display: none;
    } 
}
@media screen and (max-width: 991px) and (min-width: 767px){
    .your_day button {
        padding: 1% 2%;
    }    
}
@media screen and (max-width: 767px){
    .ul li {
	padding-top: 2%;
    } 
    .a{
        width: 100%;
    }
}
