td{
	width: 50px;
	height: 50px;
	border: 1px solid black;
	cursor: pointer;
	text-align: center;
	font-size: 40px;
	
}

button{
	border: 1px solid black;
	font-size: 30px;
}

table{
	margin: 0 auto;
}
input{
	font-size:30px;
}

div{
	display: none;
}